.c-signup{

    display: flex;
    justify-content: center;

}

.c-signup form{

    display: flex;
    flex-direction: column;    
    align-items: left;
    margin: 150px 0;
    
}

.c-signup form input,select{

    margin-bottom: 20px;
    padding: 6px 3px;
    
}

.c-signup form input{

    width: 300px;
    border-radius: 5px;
    outline: none;
    
}

.c-signup form select{

    border-radius: 10px;
    
}